{% extends "base/global.html" %}
{% load static %}

{% block 'head' %}

   <link rel="stylesheet" href="{% static 'global/global.css' %}" />

{% endblock 'head' %}


{% block 'conteudo' %}
	<div>
    <h1 class="h1 text-info ">Cadastre-se</h1> 

    {% if messages %}
      {% for message in messages %}
        <div class="alert {{ message.tags }} mt-3 ">
          {{ message }}
        </div>
      {% endfor %}
    {% endif %}  

    <form action="{% url 'register' %}" method='POST' class="mt-5 col-4">{% csrf_token %}
        <div>
          <label class="form-label text-light fs-5" for="name">Nome</label>
          <input class="form-control fs-5" type="text" id="name" name="name" placeholder="Digite seu nome...">
        </div>

        <div class="mt-3 ">
          <label class="form-label text-light fs-5" for="email">E-mail</label>
          <input class="form-control fs-5" type="email" id="email" name="email" placeholder="Digite seu e-mail...">
        </div>

      <div class="d-flex justify-content-between">
        <div class="my-3 ">
          <label class="form-label text-light fs-5" for="password">Senha</label>
          <input class="form-control fs-5" type="password" id="password" name="password" placeholder="Digite sua senha...">
        </div>

        <div class="mt-3 ">
          <label class="form-label text-light fs-5" for="confirm_password">Confirmar senha</label>
          <input class="form-control fs-5" type="password" id="confirm_password" name="confirm_password" placeholder="Confirme sua senha...">
        </div>
      </div>

      <button class="btn btn-primary me-3 " type="submit">Salvar</button>
      <a class="btn btn-danger" href="/" >Cancelar</a>
    </form>
  </div>
{% endblock %}